<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MegaAuth Login</title>
  <link rel="stylesheet" href="/styles/login.css">
</head>
<body>

  <div class="container">
    <div class="form-container">
      <img src="https://server.megamedia.megagera.com/megagera/MG_logo_lt.png">
      <hr>
      <h2>Login to MegaGoal</h2>
      <form id="login-form">
        <label for="login-username">Username or Email</label>
        <input type="text" id="login-username" name="username" required>
        <br>
        <label for="login-password">Password:</label>
        <input type="password" id="login-password" name="password" required>
        <br>
        <button type="submit">Login</button>
        <span id="login-span">&nbsp;</span>
      </form>
      <p>Don't have an account? <a href="/register">Register here</a></p>
    </div>
  </div>

  <script>
    const $ = el => document.querySelector(el);

    const loginForm = $('#login-form');
    const loginSpan = $('#login-span');

    const urlParams = new URLSearchParams(window.location.search);
    const redirectParam = urlParams.get('redirect');

    loginForm?.addEventListener('submit', async e => {
      e.preventDefault();
      const username = $('#login-username').value.trim();
      const password = $('#login-password').value;

      fetch('/login', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({ username, password })
      }).then(res => {
        if (res.ok) {
          loginSpan.innerText = 'Login successful';
          loginSpan.style.color = 'green';
          if (redirectParam) {
            window.location.href = redirectParam;
          } else {
            window.location.href = '/';
          }
        } else {
          loginSpan.innerText = 'Login failed';
          loginSpan.style.color = 'red';
        }
      });
    });
  </script>
</body>
</html>